# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
aspnet-core/src/VoTanPhatVCBRDemo.Web.Host/App_Data/Logs/
aspnet-core/src/VoTanPhatVCBRDemo.Web.Mvc/App_Data/Logs/
aspnet-core/src/VoTanPhatVCBRDemo.Migrator/Logs/Logs.txt
aspnet-core/build/outputs/
aspnet-core/docker/mvc/Mvc-Logs/

/aspnet-core/src/VoTanPhatVCBRDemo.EntityFrameworkCore/Migrations
/angular/yarn-error.log
/data
/aspnet-core/src/VCBRDemo.HttpApi.Host/wwwroot/libs
/aspnet-core/src/VCBRDemo.DbMigrator/appsettings.secrets.json
/aspnet-core/src/VCBRDemo.HttpApi.Host/appsettings.secrets.json
